.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* HEADER */
.main-menu {
    height: 50px;
    width: 100%;
    overflow: auto;
    position: relative;

    background-color: #FEEBEF;

    display: flex;
    flex-direction: row;
}

.main-menu_left {
    width: 640px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-menu_right {
    width: 640px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* CONTENT */
.content {

}